@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

[data-theme='dark'] {
  --background: #0a0a0a;
  --foreground: #676565;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.scroller {
  overflow: auto;
  height: 80vh;
  display: flex;
  flex-direction: column-reverse;
  overflow-anchor: auto !important;
}

.scroller .scroller-content .item {
  height: 20px;
  transform: translateZ(0); /* fixes a bug in Safari iOS where the scroller doesn't update */
}
